services:
  postgres:
    image: postgres:16-alpine
    container_name: hellio-db
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend-network

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: hellio-backend
    env_file: .env
    environment:
      DATABASE_URL: ${DATABASE_URL_DOCKER}
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - backend-network
      - frontend-network

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    container_name: hellio-frontend
    env_file: .env
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - frontend-network

volumes:
  postgres_data:

networks:
  backend-network:
    driver: bridge
  frontend-network:
    driver: bridge
